/*Color palette:

#96350C Smokey Topaz
#432E36 Old Burgundy
#666666 Satan Gray
#FDFFF7 Baby Powder
#FFE4A3 navajo white --> beige
#586994 UCLA Blue --> light-ish blue
#D8D8D8 timberwolf (gray)

#B4ADEA maximum Blue Purple*/

body{

	background-color:#FFE4A3;

}



h1 {
	padding-top: 20%;
	text-align:center;
	color: #432E36 ;
	font-family: cursive;
	font-size: 48px;
}


#menu{

	display:inline;



	}


#top_nav > ul >li>a {
	padding-top: 5%;
	padding-right: 0, auto;
	display: inline;
}

#top_nav > div >a {
	padding-top: 5%;
	padding-right: 0, auto;
	display: inline;
}

#top_nav > ul >li {

	padding-top: 5%;
	padding-right: 0, auto;
	display: inline;
}

#apod_image_container > p {
	text-align: center;
	font-size: 12px;
	color: white;
}


#copyright{

margin-top: -10%;

}
#apod_image_container > h5{
	font-size: 18px
}

#apod_title{
	
	z-index:1000;
}


#apod_img{
border-width: 10px;
border-style: solid;
border-color: #D8D8D8;
border-radius: 15%;

}

#apod_image_container{
	text-align: center;
	margin: 0, auto;
	transform: scale(0.85, 0.85);
	background-color: rgba(216, 216, 216,0.8);
	border-radius: 15%;

}

#bottom_nav {

text-align:center;
color: #FDFFF7;

}




/* Bootstrap overrides */

.navbar-brand>img {
  padding-top: 1px;
  margin-left: 1px;
  margin-right: 5px;
}

#sign_in_text{

padding-right: 5%;

}

.navbar ul {
  background: none;
}

.navbar-inverse {
  background-color: #586994;
  border-width: 0px;
}

.navbar-inverse .navbar-nav li a {
  color: #FDFFF7;
}

.navbar-inverse .navbar-nav li a:hover {
  color: #96350C;
}

/* Utilities for Testing*/

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}




/*icons i will need*/
/*glyphicon glyphicon-pencil*/
/*glyphicon glyphicon-ok
glyphicon glyphicon-home
glyphicon glyphicon-list-alt
glyphicon glyphicon-edit
glyphicon glyphicon-arrow-left
glyphicon glyphicon-arrow-right
glyphicon glyphicon-calendar
glyphicon glyphicon-log-in
glyphicon glyphicon-log-out*/